/*
Author/Designer/Developer: Hanna Liebl, hannaliebl.com
project began June 2013, last modified August 2013
COMPASS and SASS helped
Wordpress (html5blank theme as base) + Woocommerce make this site work
Typekit and icomoon make it pertty
1140 grid system/hacked together, but it works, yeah?
Mobile-first!
comments, critiques, questions: hanna@hannaliebl.com
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/*override woocommerce's lightbox styles...*/
.pp_content_container {
  background-color: black !important;
}

div.pp_overlay {
  background-color: #303030 !important;
}

strong {
  font-weight: 600;
}

img {
  max-width: 100%;
  vertical-align: baseline;
  height: auto;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

  tr { border: 1px solid #2e2e2e; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

th {
  padding: 5px;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/******* TYPOGRAPHY *******/
/*************************/

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #c69b2d;
}

p {
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
  font-size: 14pt;
  line-height: 17pt;
  padding: 10px 0;
}

h1, h2, h3 {
  font-family: "brandon-grotesque", futura, sans-serif;
  font-weight: 600;
  padding: 15px 0 10px 0;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 16pt;
}

mark {
  background: #5C4D27;
  color: #000;
  padding: 0 2px;
}

/*** Specific Header Styles ***/
/* Remember this is mobile-first */
/**home header has big(ger) text**/
#home_header_description h1 {
  font-size: 38pt;
  font-family: "coquette", sans-serif;
  font-weight: 700;
  line-height: 44pt;
  color: #c69b2d;
  text-shadow: 2px 0px 1px black;
}

#home_header_description h2 {
  font-size: 16pt;
  color: #fff;
  padding: 0;
  font-weight: 400;
  text-shadow: 2px 0px 1px black;
}

/**** rest of the headers use small text for "Design from Mars" ***/
#header_description h1 {
  font-size: 20pt;
  font-family: "coquette", sans-serif;
  font-weight: 700;
  color: #c69b2d;
  text-shadow: 2px 0px 1px black;
}

#header_description h2 {
  font-size: 38pt;
  color: #fff;
  padding: 0;
  font-weight: 700;
  text-shadow: 2px 0px 1px black;
}

/*** "Shop All" link on homepage ***/
.shopall {
  font-size: 16pt;
  color: #a09f9f;
  border: 2px solid #a09f9f;
  display: inline-block;
  padding: 8px;
}

.shopall:hover {
  color: #c69b2d;
  border: 2px solid #c69b2d;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.meta {
  font-size: 12pt;
  font-weight: 700;
  color: #e0e0e0;
}

.blog-nav {
  font-size: 16pt;
  font-weight: 600;
}

.blog-entry > h1 {
  margin: 10px 0 5px 0;
  padding: 0;
  font-size: 20pt;
}

.blog-entry > ul {
  list-style-type: disc;
  margin-left: 40px;
}

.blog-entry > ol {
  list-style-type: decimal;
  margin-left: 40px;
}

h2.comment-author {
  color: white;
  padding: 0 0 5px 0;
}

.star-1, .star-2, .star-3, .star-4, .star-5 {
  margin: 0 10px 0 0;
  padding: 5px 15px;
  font-size: 20pt;
  border: 1px solid #dedede;
}

.star-1.active, .star-2.active, .star-3.active, .star-4.active, .star-5.active {
  background-color: #c69b2d;
  color: #000;
  border: 1px solid #fff;
}

/**** Forms, inputs, etc ***/
input, select, textarea {
  color: #a09f9f;
  width: 100%;
  background-color: #2b2b2b;
  border: 1px solid #333;
  font-size: 14pt;
  padding: 1px 2px;
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

textarea:focus, input:focus, select:focus {
    color: #a09f9f;
    border: 1px solid #c69b2d;
}

label {
  float: left;
  margin-right: 10px;
  width: 200px;
  text-align: left;
}

label.screen-reader-text {
  width: 0px;
}

.product-search input[type=text] {
  width: 145px;
  font-size: 12pt;
}

/* payment selection on checkout page*/
input[type=radio] {
  width: 5%;
  float: left;
}

input#place_order {
  margin-top: 10px;
}

#payment li {
  clear: both;
}

#payment label {
  width: 20%;
  float: left;
  margin: 0;
}

.payment_box {
  width: 75%;
  float: right;
}

.place-order {
  clear: both;
}

input[type=submit], button {
  background-color: #000;
  color: #a09f9f;
  border: 2px solid #a09f9f;
  font-size: 14pt;
  padding: 1px 5px;
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
  width: inherit;
}

input[type=submit]:hover, button:hover {
  color: #c69b2d;
  border: 2px solid #c69b2d;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  }

  input#shiptobilling-checkbox {
    width: inherit;
    float: left;
    margin-right: 5px;
  }

.product-search input[type=submit] {
  border: 1px solid #a09f9f;
  display: inline-block;
  font-size: 12pt;
  padding: 1px 2px;
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
}

.product-search input[type=submit]:hover {
  border: 1px solid #c69b2d;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.coupon input, .coupon button {
  margin-bottom: 10px;
}

input[name="update_cart"] {
  margin-bottom: 10px;
}

/*quantities*/
.woocommerce .quantity, .quantity, .woocommerce-page .quantity, .woocommerce #content .quantity, .woocommerce-page #content .quantity {
width: 60px;
position: relative;
margin: 0 auto;
overflow: hidden;
zoom: 1;
}

#content div.quantity.buttons_added {
  margin: 0;
}

.woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page #content .quantity .minus, input.minus, input.plus {
display: block;
padding: 0;
margin: 0;
position: absolute;
bottom: 0px;
right: 0px;
text-align: center;
vertical-align: text-top;
width: 20px;
height: 14px;
overflow: visible;
text-decoration: none;
font-weight: bold;
cursor: pointer;
line-height: 13px;
font-size: 14px;
color: black;
border: 1px solid #333;
background: #a09f9f;
}

.quantity-label {
float: left;
margin-right: .25em;
margin-bottom: 0;
}

.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page #content .quantity input.qty, input.input-text.qty.text {
width: 65px;
font-size: 18px;
vertical-align: middle;
}

.woocommerce .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page #content .quantity .plus, input.plus {
top: 0;
right: 0;
}

/*table on checkout page and table on orders page (mobile-first style)*/
.shop_table {
  width: 100%;
  padding-bottom: 20px;
}

tr.checkout_table_item:nth-of-type(odd) { 
  background-color: #191919;
}

table.shop_table tfoot {
  width: 100%
}

table.shop_table thead {
  width: 100%;
}

tr.checkout_table_item {
  width: 100%;
}

.checkout_table_item td, #order_review td, tr.cart-subtotal th, tr.shipping th, tr.total th, td.product-name, td.product-total {
  padding: 10px;
}

tr.total th, tr.total td {
  background-color: #5C4D27;
}

td.product-name {
  width: 75%;
}

td.product-total {
  width: 25%;
}

/***** Outlined "button" for add to cart*****/
.button {
  color: #a09f9f;
  border: 2px solid #a09f9f;
  display: inline-block;
  padding: 4px;
  margin: 3px 0;
}

input.checkout-button {
  border: 4px solid #fff;
  color: #fff;
  font-size: 18pt;
}

input.checkout-button:hover {
  border: 4px solid #c69b2d;
}

.button:hover {
  color: #c69b2d;
  border: 2px solid #c69b2d;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.single_add_to_cart_button {
  font-size: 16pt;
  font-family: "proxima-nova";
  font-weight: 600;
  padding: 5px 8px;
  color: white;
  border: 2px solid #a09f9f;
  display: inline-block;
  margin: 15px 0;
}

.add_to_cart_button {
  margin: 10px 0;
}

span.price {
  display: block;
}

/**** Iconfont ***/
@font-face {
  font-family: 'icomoon';
  src: url("../img/fonts/icomoon.eot");
  src: url("../img/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../img/fonts/icomoon.woff") format("woff"), url("../img/fonts/icomoon.ttf") format("truetype"), url("../img/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 10pt;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-facebook, .icon-twitter, .icon-menu, .icon-cart, .icon-mail, .icon-arrow-down, .icon-close, .icon-arrow-left, .icon-arrow-right, .icon-star {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-cart {
  font-size: 16pt;
}

.icon-facebook, .icon-twitter, .icon-mail {
  font-size: 40pt;
}

.icon-arrow-down {
  font-size: 18pt;
}

.icon-arrow-left, .icon-arrow-right {
  font-size: 14pt;
}

.icon-close {
  font-size: 8pt;
}

.icon-facebook:before {
  content: "\21";
}

.icon-twitter:before {
  content: "\74";
}

.icon-menu:before {
  content: "\6e";
}

.icon-cart:before {
  content: "\23";
}

.icon-mail:before {
  content: "\24";
}

.icon-arrow-down:before {
  content: "\25";
}

.icon-close:before {
  content: "\22";
}
.icon-arrow-right:before {
  content: "\26";
}
.icon-arrow-left:before {
  content: "\27";
}

.icon-star:before {
  content: "\28";
}

.mobile-menu-container {
  font-size: 22pt;
  font-family: "brandon-grotesque", futura, sans-serif;
  margin: 5px 0;
}

.fs2 {
  font-size: 30pt;
}

/******** LAYOUT (grid system, etc. Mobile-first!) *******/
/********************************************************/

body {
  background: black;
  color: #a09f9f;
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
}

.container {
  width: 100%;
  padding: 0 30px;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.center-text {
  text-align: center;
}

#cart {
  background: black;
  width: 100%;
  border-bottom: 1px solid grey;
}

header#default_header, header#store_header {
  background: url("../img/home-header-mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

header#home {
   background: url("../img/home-header-mobile.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
}

nav#main {
  width: 100%;
  display: inline-block;
  background: #2b2b2b;
}

nav#main li {
  float: left;
  width: 100%;
  background: #2b2b2b;
  font-family: "brandon-grotesque", futura, sans-serif;
  font-size: 20pt;
  padding: 10px 0;
  text-align: center;
}

nav#main li a {
  text-decoration: none;
  color: #fff;
}

nav#main li a:hover {
  color: #c69b2d;
}

nav#bottom {
  padding: 40px 0 20px 0;
}

.filter-products {
  padding-bottom: 20px;
}

/*blog comments*/
ul.children {
  margin-left: 30px;
}

.comment-body, .review-body {
  clear: both;
  padding: 10px 0;
  margin: 0 0 15px 0;
  border-left: 2px solid white;
  background-image: -ms-linear-gradient(left, #2B2B2B 0%, #000000 100%);
  background-image: -moz-linear-gradient(left, #2B2B2B 0%, #000000 100%);
  background-image: -o-linear-gradient(left, #2B2B2B 0%, #000000 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #2B2B2B), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(left, #2B2B2B 0%, #000000 100%);
  background-image: linear-gradient(to right, #2B2B2B 0%, #000000 100%);
}

.comment-text, .review-text {
  margin-left: 10px;
}

.comment-meta {
  font-size: 10pt;
  padding-bottom: 5px;
}

textarea#comment {
  width: 100%;
}

a.social-icon {
  padding: 0 5px;
}

.copyright {
  padding-bottom: 5px;
}

.credit {
  font-size: 10pt;
  padding-bottom: 15px;
}

ul.quick_links {
  margin-top: 17px;
  font-size: 14pt;
}

ul#menu-cart {
  font-size: 14pt;
}

ul.sub-menu {
  display: none;
  cursor: default;
}

ul.sub-menu li {
  float: none;
  background: black;
  padding: 5px;
  font-size: 12pt;
}

.second-proceed-checkout {
  width: 100%;
}

.cursor { cursor: pointer; cursor: hand; }

.hidden {
  display: none;
}

/* slightly hacky class to add to ul elements in woocommerce tabbed display to get rid of the tabbed nav */
.true-hidden {
  display: none;
}

section#intro {
  margin: 30px auto;
}

.products li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.products li h1 {
  font-size: 18pt;
  font-weight: 500;
  color: #565656;
  padding: 5px 0 10px 0;
}

.products li h2 {
  font-size: 13pt;
  font-weight: 400;
  color: #7F7F7F;
  padding: 0 0 20px 0;
}

.products li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.home-products li a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

ul.page-numbers {
  text-align: center;
  display: block;
  width: 100px;
  margin: 0 auto;
}

ul.page-numbers li {
  float: left;
  text-align: center;
  padding: 5px;
}

article.blog-entry {
  margin-bottom: 30px;
}

footer#main {
  background: #2b2b2b;
}

/*****Helper Classes*****/
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

/* line 115, ../sass/layout.scss */
.clearfix {
  zoom: 1;
  /* IE < 8 */
}

.clear {
  clear: both;
}

section#single-product {
  padding-top: 40px;
  padding-bottom: 40px;
}

  ul.tabs li {
    float: left;
  }

   ul.tabs li a {
    display: block;
    padding: 10px;
  }

img.attachment-shop_single {
padding: 0 0 20px 0;
  }

div.thumbnails {
  display: inline-block;
  margin-bottom: 20px;
  max-width: 570px;
}

.woocommerce-breadcrumb {
  padding-bottom: 20px;
}

  .widget_product_categories {
    background-color: #2b2b2b;
    padding: 0px 5px 5px 8px;
  }

  .widget_product_categories li {
    padding: 2px 0;
  }

  .widget_product_search {
    margin: 0;
    padding: 0;
  }

  #tab-reviews, #tab-additional_information, #tab-description {
    clear: both;
  }

  /* cart page */
  table.shop_table.cart thead {
    background-color: #2D2D2D;  
  }

table.shop_table.cart th, table.shop_table.cart td {
    padding: 10px;
  }

table.shop_table.cart th {
  font-size: 18pt;
}

table.shop_table.cart td {
  text-align: center;
}

table.shop_table.cart td h1 {
  font-size: 16pt;
  font-family: "proxima-nova", helvetica neu, helvetica, sans-serif;
  font-weight: 400;
  padding: 0;
}

tr.cart_table_item { 
  background-color: #242424;
}

/* Zebra striping */
tr.cart_table_item:nth-of-type(odd) { 
  background-color: #191919;
}


/*****/


@media 
only screen and (max-width: 480px)  {
  /* Force table to not be like tables anymore */
  table.shop_table, thead.shop_table, tbody.shop_table, th.shop_body, td.shop_body, tr.shop_body { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}

.remove {
  font-size: 25pt;
}

input[type="number"] {
  width: 50px;
}

.onethird-thumbnail {

    float: left;
    width: 33.3%;
    margin-bottom: -5px;
  }


/******** MEDIA QUERIES **********/
/*** This site only uses two breakpoints, 960px and 1140px.
     Mobile version is generally just one column, would
     work on smaller tablets and phones. **************/

/* "iPads" (landscape-ish) ----------- */
@media handheld, only screen and (min-width: 960px) {

/* Make the header smaller to conserve screen space ****/
  header#home {
    height: 400px;
     margin-top: 50px;
  }

  header#default_header, header#store_header {
    height: 200px;
    margin-top: 50px;
  }

.product-search {
  float: right;
}

nav#cart_nav {
  float: right;
}

/*force height to account for title running onto second line*/
.home-products li {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 464px;
  overflow: hidden;
}

/* line 66, ../sass/layout.scss */
nav#cart_nav li {
  float: left;
}

nav#cart_nav ul.sub-menu li {
  float: none;
}

#cart {
  background: black;
  position: fixed;
  height: 50px;
  top: 0px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid grey;
}

ul.quick_links li {
  float: left;
  padding-right: 8px;
}

ul#menu-cart li {
 padding-right: 8px; 
}

ul.sub-menu {
  position: absolute;
}

ul.sub-menu li {
  float: none;
  z-index: 2;
}

  /* line 124, ../sass/layout.scss */
  .container {
    width: 100%;
    padding: 0 2%;
  }

  .content {
  padding-top: 40px;
  padding-bottom: 40px;
}

  /* line 128, ../sass/layout.scss */
  .container960 {
    width: 960px;
    margin: 0 auto;
  }

  .onefourth {
    float: left;
    width: 23.4%;
    margin-right: 1.6%;
  }

  .one-fourth:last-child {
    margin-right: 0;
  }

  .threefourths {
    float: left;
    width: 75%;
    margin-right: 0%;
  }

  .three-fourths:last-child {
    margin-right: 0;
  }

  /* line 132, ../sass/layout.scss */
  .onethird {
    float: left;
    width: 33%;
    padding-right: 3%;
  }

  .half {
    float: left;
    width: 48%;
    padding-right: 2%;
  }

  .half:last-child {
    padding-right: 0;
  }

  p.woocommerce-result-count {
  padding: 0;
}

  /* line 137, ../sass/layout.scss */
.twothirds {
    float: left;
    width: 67%;
    padding-right: 3%;
  }

.twothirds:last-child {
    padding-right: 0;
  }

.threeeighths {
    float: left;
    width: 35.5%;
    padding-right: 2%;
  }

.oneeighth {
    float: left;
    width: 10.5%;
    padding-right: 2%;
  }

.oneeighth:last-child {
  padding-right: 0;
}

  /* line 141, ../sass/layout.scss */
  .toggle {
    display: none;
  }

  /* line 144, ../sass/layout.scss */
ul.hidden {
    display: block;
    width: 100%;
  }

  /* line 148, ../sass/layout.scss */
nav#main li {
    width: 16.6%;
    font-size: 16.5pt;
    text-align: left;
  }

#home_header_description h1 {
  font-size: 58pt;
  font-weight: 700;
  line-height: 66pt;
  color: #c69b2d;
  text-shadow: 2px 0px 1px black;
}

#home_header_description h2 {
  font-size: 22pt;
  color: #fff;
  padding: 0;
  font-weight: 400;
  text-shadow: 2px 0px 1px black;
}

#header_description h1 {
  font-size: 24pt;
  font-weight: 700;
  color: #c69b2d;
  text-shadow: 2px 0px 1px black;
}

#header_description h2 {
  font-size: 40pt;
  color: #fff;
  padding: 0;
  font-weight: 700;
  text-shadow: 2px 0px 1px black;
}


.left {
  float: left;
}

.right {
  float: right;
}

aside {
    float: right;
  }


/*****inputs, labels, etc non-mobile****/
input, select, textarea, button {
  width: 400px;
}

input#billing_address_2, input#shipping_address_2 {
  margin-left: 210px;
}

label {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 200px;
}

div.coupon {
  width: 100%;
  margin-bottom: 10px;
}

.coupon label {
  width: 0px;
  text-align: right;
}

.coupon input {
  width: 250px;
}

.coupon input[type="submit"] {
  width: 200px;
}

#payment label {
  width: 15%;
  float: left;
}

.payment_box {
  width: 80%;
  float: left;
}

/*table on checkout page*/
.shop_table {
  width: 610px;
  margin-bottom: 20px;
}

section.shipping-calculator-form select, section.shipping-calculator-form input, {
  width: 325px;
}

section.shipping-calculator-form button {
  width: inherit;
}

/**** "Desktops" ****/
@media handheld, only screen and (min-width: 1140px) {

  header#home {
    background: url("../img/home-header-full.jpg") no-repeat center center;
  }

  .container {
    width: 1140px;
    margin: 0 auto;
  }

  .content {
  padding-top: 40px;
  padding-bottom: 40px;
}

  nav#main li {
    width: 16.6%;
    font-size: 19pt;
  }
}
